<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Content Text</title>
</head>

<body>
    <div class="context-text">
        <h1>I'm Blagoj Bazzomir<br /> Jovanovski!</h1>
        <h2>Full Stack Web Developer</h2>
        <h3>A passionate web programmer who is building his own version of the digital world one step at a time. With
            expertise in full-stack development, specializing in creating user-centric, responsive applications.
            Proficient in problem-solving, adaptable to new technologies, and known for effective communication. Proven
            track record of delivering high-quality projects on time. Eager to contribute innovative solutions and
            technical expertise to you and your business.
        </h3>
    </div>
</body>

</html>